#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "jq"
     "ripgrep"
     "tmux"
     "virtualenvwrapper"
     "wget" -}}
{{/*      "karabiner-elements" */}}
{{ $casks := list
     "google-chrome"
     "iterm2"
     "spotify"
     "visual-studio-code" -}}


{{ if and .personal (not .work) -}}
{{   $brews = concat $brews (list 
     "direnv"
) -}}
{{/* "mactex-no-gui" install manually as it is a big package and there are network issues*/}}
{{   $casks = concat $casks (list
       "adobe-acrobat-reader"
       "mendeley"
       "microsoft-teams"
       "1password-cli"
       "chatgpt"
       "notion") -}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
