#!/bin/bash

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "eza"
     "fd"
     "fzf"
     "gdu"
     "jq"
     "ripgrep"
     "tmux"
     "virtualenvwrapper"
     "wget" -}}
{{/*      "karabiner-elements" */}}
{{ $casks := list
     "google-chrome"
     "iterm2"
     "spotify"
     "spotify"
     "visual-studio-code" -}}


{{ if and .personal (not .work) -}}
{{   $brews = concat $brews (list
       "lastpass-cli") -}}
{{/* "mactex-no-gui" */}}
{{   $casks = concat $casks (list
       "mendeley"
       "microsoft-teams"
       "notion"
       "steam") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
