{{/* Feature Flags - Used to define properties of the current machine context */}}
{{- $headless := false -}}     {{/* True if this machine does not have a screen and keyboard (e.g., headless server or CI runner) */}}
{{- $useop := false -}}        {{/* True if the 1Password CLI ("op") should be used for secrets management */}}
{{- $ephemeral := false -}}    {{/* True if this machine is ephemeral (e.g., Docker container or cloud instance) */}}
{{- $gpu_server := false -}}   {{/* True if this machine is a GPU server, used for compute-intensive tasks */}}
{{- $personal := false -}}     {{/* True if this machine is for personal use (e.g., laptop, home desktop) */}}
{{- $work := false -}}         {{/* True if this machine is used for work-related tasks */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* Dynamic hostname logic */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Xavier's MacBook Pro" -}}
{{-     $hostname = "cuent-mbp" -}}
{{-   else if eq $computerName "Xavier Sumba" -}}
{{-     $hostname = "cuent-work" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{/* Set ephemeral flag for Windows */}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* Configuration for different machines */}}
{{- if not $ephemeral -}}
{{-   if and (eq .chezmoi.username "xxs22") -}}
{{-     $headless = true -}}
{{-     $gpu_server = true -}}
{{-   else if eq $hostname "cuent-mbp" -}}
{{-     $personal = true -}}
{{-     $useop = true -}}
{{-   else if eq $hostname "cuent-work" -}}
{{-     $work = true -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "c.uent@hotmail.com" -}}
{{- $workemail := "" -}}
{{- if $work -}}
{{-     $workemail = promptStringOnce . "workemail" "Work email address" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}         # Primary email address
  workemail = {{ $workemail | quote }} # Work email address (if applicable)

  headless = {{ $headless }}           # True if the machine is headless
  useop = {{ $useop }}                 # True if 1Password CLI ("op") should be used for secrets

  ephemeral = {{ $ephemeral }}         # True if the machine is ephemeral
  work = {{ $work }}                   # True if the machine is used for work
  personal = {{ $personal }}           # True if the machine is personal
  gpu = {{ $gpu_server }}              # True if the machine is a GPU server

  osid = {{ $osID | quote }}           # Operating system identifier (e.g., "linux-ubuntu" or "darwin")

{{- if $gpu_server }}
[data.gpuExtra.corgi]
  gpuHome = "/data/{{ .chezmoi.username }}"
  condaBase = "/data/{{ .chezmoi.username }}/miniconda3"

[data.gpuExtra.bluejay]
  gpuHome = "/data2/users/{{ .chezmoi.username }}"
  condaBase = "/data2/packages/anaconda3"

[data.gpuExtra.doc]
  gpuHome = "/vol/bitbucket/{{ .chezmoi.username }}"
  condaBase = "/vol/bitbucket/{{ .chezmoi.username }}/packages/anaconda3"

{{- end }}

{{/* Validate only one machine type is selected */}}
{{- $trueCount := 0 -}}
{{- if $ephemeral }}{{ $trueCount = add $trueCount 1 }}{{- end -}}
{{- if $work }}{{ $trueCount = add $trueCount 1 }}{{- end -}}
{{- if $personal }}{{ $trueCount = add $trueCount 1 }}{{- end -}}
{{- if $gpu_server }}{{ $trueCount = add $trueCount 1 }}{{- end -}}
{{- if ne $trueCount 1 }}
{{ fail (printf "Exactly one of 'ephemeral', 'work', 'personal', or 'gpu' must be true. Found %d true values." $trueCount) }}
{{- end }}
