{{/* Feature Flags */}}
{{- $ephemeral := false -}}{{/* True if this machine is ephemeral (e.g., cloud or VM instance) */}}
{{- $headless := false -}}{{/* True if this machine does not have a screen and keyboard */}}
{{- $gpu_server := false -}}{{/* True if this machine is a GPU server */}}
{{- $personal := false -}}{{/* True if this machine should have personal secrets */}}
{{- $work := false -}}{{/* True if this machine is used for work purposes */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* Dynamic hostname logic */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "MacBook Pro de Xavier" -}}
{{-     $hostname = "cuent-mbp" -}}
{{-   else if eq $computerName "Xavier's MacBook Pro" -}}
{{-     $hostname = "cuent-mbp" -}}
{{-   else if eq $computerName "Xavier Sumba" -}}
{{-     $hostname = "cuent-work" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{/* Set ephemeral flag for Windows */}}
{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if and (eq .chezmoi.hostname "corgi" "bluejay") (eq .chezmoi.username "xxs22") -}}
{{/*    fixed user for GPUs */}}
{{-     $personal = true -}}
{{-     $headless = true -}}
{{-     $gpu_server = true -}}
{{-   else if eq $hostname "cuent-mbp" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "cuent-work" -}}
{{-     $personal = true -}}
{{-     $work = true -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "c.uent@hotmail.com" -}}
{{- $workemail := "" -}}
{{- if $work -}}
{{-     $workemail = promptStringOnce . "workemail" "Work email address" -}}
{{- end -}}

[data]
    email = {{ $email | quote }} # Primary email address
    workemail = {{ $workemail | quote }} # Work email address (if applicable)

    ephemeral = {{ $ephemeral }} # True if the machine is ephemeral
    headless = {{ $headless }} # True if the machine is headless

    work = {{ $work }} # True if the machine is used for work
    personal = {{ $personal }} # True if the machine is personal

    gpu = {{ $gpu_server }} # True if the machine is a GPU server

    osid = {{ $osID | quote }} # Operating system identifier

{{- if $gpu_server }}
[data.gpuExtra.corgi]
  gpuHome = "/data/{{ .chezmoi.username }}"
  condaBase = "/data/{{ .chezmoi.username }}/miniconda3"

[data.gpuExtra.bluejay]
  gpuHome = "/data2/users/{{ .chezmoi.username }}"
  condaBase = "/data2/packages/anaconda3"
{{- end }}
