# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block, everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# If you come from bash you might have to change your $PATH.
{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" }}
{{    $path := joinPath $homeDir $relPath }}
{{-   if stat $path }}
{{-     $paths = mustAppend $paths $path }}
{{-   end }}
{{- end }}
{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Uncomment the following line to use case-sensitive completion.
CASE_SENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
HIST_STAMPS="yyyy-mm-dd"

ZSH_DISABLE_COMPFIX=true

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  per-directory-history
  vi-mode
  zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh

# Load custom executable functions
for function in $HOME/.zsh/functions/*; do
  source $function
done

# Aliases
[[ -f $HOME/.aliases ]] && source $HOME/.aliases

# User configuration

PROMPT="%{$fg[white]%}%n@%{$fg[green]%}%m%{$reset_color%} ${PROMPT}"

setopt autocd
setopt histignorespace
setopt rm_star_silent

{{ if eq .osid "linux-ubuntu" -}}
export EDITOR=$HOME/.local/bin/vim
{{ else -}}
export EDITOR=vim
{{ end -}}

{{ if or .work .personal -}}
# Load plugin manager 
if [ -e {{ .chezmoi.homeDir }}/.vim/autoload/plug.vim ]; then
  vim -E -s +PlugUpgrade +qa
else
  curl -fLo {{ .chezmoi.homeDir }}/.vim/autoload/plug.vim --create-dirs \
      https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
fi

vim -u {{ .chezmoi.homeDir }}/.vimrc.bundles +PlugUpdate +PlugClean! +qa

reset -Q
{{ end -}}

export GOPATH=$HOME
export GO111MODULE=on

{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_AUTO_UPDATE=1
{{- end }}

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
# export RIPGREP_CONFIG_PATH=~/.config/ripgrep/config
# [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

{{- if .personal }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     if lookPath "lpass" }}
export HOMEBREW_GITHUB_API_TOKEN={{ (index (lastpassRaw "homebrew_github_api_token") 0).note | trim }}
{{-     end }}
{{-   end }}
{{- end }}

{{- if .work }}
export AD_ACCOUNTNAME=xavier.sumba
{{- end }}

#{{- if lookPath "direnv" }}
#{{ output "direnv" "hook" "zsh" | trim }}
#{{- end }}

{{- if lookPath "virtualenv" }}
# Source virtualenvwrapper
source virtualenvwrapper.sh
{{- end }}

{{- if and .headless .gpu }}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/data2/packages/anaconda3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/data2/packages/anaconda3/etc/profile.d/conda.sh" ]; then
        . "/data2/packages/anaconda3/etc/profile.d/conda.sh"
    else
        export PATH="/data2/packages/anaconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<
{{- end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

{{- /* vim: set filetype=zsh: */}}