{{ if or .personal .work -}}

#!/bin/bash
set -eufo pipefail

# Load vim plugin manager
if [ -e {{ .chezmoi.homeDir }}/.vim/autoload/plug.vim ]; then
  vim -E -s +PlugUpgrade +qa
else
  curl -fLo {{ .chezmoi.homeDir }}/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
fi

vim -u {{ .chezmoi.homeDir }}/.vimrc.bundles +PlugUpdate +PlugClean! +qa

# reset -Q
# [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

{{ end -}}
