{{ if or .personal .work -}}

#!/bin/bash
set -eufo pipefail

log() {
  echo "[$(date +'%Y-%m-%d %H:%M:%S')] $1"
}

log "Starting vim-plug setup..."

PLUG_PATH="{{ .chezmoi.homeDir }}/.vim/autoload/plug.vim"
VIMRC="{{ .chezmoi.homeDir }}/.vimrc.bundles"

if [ -e "$PLUG_PATH" ]; then
log "Upgrading vim plugins using +PlugUpgrade..."
  if ! vim -E -s -u "$VIMRC" +PlugUpgrade +qa; then
    log "Error: PlugUpgrade failed."
    exit 0
  fi
else
  log "plug.vim not found, installing..."
  curl -fLo "$PLUG_PATH" --create-dirs "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
fi

log "Running PlugUpdate and PlugClean..."
vim -u "$VIMRC" +PlugUpdate +PlugClean! +qa

log "vim plugin manager setup complete."

# reset only if in interactive terminal
if [ -t 1 ]; then
  reset -Q
fi

# Source fzf.zsh only if interactive and file exists
if [ -t 1 ] && [ -f ~/.fzf.zsh ]; then
  source ~/.fzf.zsh
fi
{{ end -}}

