{{- if eq .chezmoi.os "darwin" }}
Host *
  UseKeychain yes
  AddKeysToAgent yes
{{- if and .personal (not (or .work .gpu)) }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{- end }}


{{- if .personal }}
Host corgi
  User xxs22
  Hostname corgi.doc.ic.ac.uk
Host bluejay
  User xxs22
  Hostname bluejay.doc.ic.ac.uk
Host doc2
  User xxs22
  Hostname gpucluster2.doc.ic.ac.uk
Host doc3
  User xxs22
  Hostname gpucluster3.doc.ic.ac.uk
Host hpc
  User xxs22
  Hostname login.hpc.ic.ac.uk
  CheckHostIP no
  IdentitiesOnly yes
  PreferredAuthentications password
  PubkeyAuthentication no
Host hpc-cx3
  User xxs22
  Hostname login.cx3.hpc.ic.ac.uk
  CheckHostIP no
  IdentitiesOnly yes
  PreferredAuthentications password
  PubkeyAuthentication no
{{- end }}

{{- if .work }}
Host cuent.gitlab.com
  Hostname gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa

Host xavier.sumba.gitlab.com
  Hostname gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519
{{- end }}
