{{- if .gpu -}}
#!/bin/bash

set -eufo pipefail

if ! command -v fzf &> /dev/null; then
  echo "Installing fzf for GPU machine..."
  git clone --depth 1 https://github.com/junegunn/fzf.git /data/xxs22/.fzf
  /data/xxs22/.fzf/install --all
else
  echo "fzf already installed."
fi
{{- end -}}

{{- if .ephemeral -}}
#!/bin/bash

set -eufo pipefail

if ! command -v fzf &> /dev/null; then
  echo "Installing fzf for Ephemeral machine..."
  git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
  ~/.fzf/install --all
else
  echo "fzf already installed."
fi
{{- end -}}